html {
    background-color:lightgray;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

header {
    color: lightgrey;
    text-align: center;
    background-color: black;
}

header img{
    width: 80%;
    margin-top:40px;
    margin-bottom: 40px;
}

nav {
    background-color:lightslategrey;
}

nav ul{
    padding: 5px 20px 5px 20px;
    margin:0;
}

nav ul li{
    font-size:30px;
    list-style-type: none;
    text-align:center;
    background-color: #4e8fc6;
    margin-top: 30px;
    margin-bottom:30px;
    padding-top:20px;
    padding-right:5px;
    padding-bottom:20px;
    padding-left: 5px;
    border-radius: 50px;
    border: solid silver 1px;
}

nav ul li a{
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    color:rgb(71, 71, 71);
}

main {
    background-color: lightgray;
    text-align: center;
    margin-bottom:0;
    padding-top:20px;
}

main .headermobile {
    margin-top:0;
    margin-bottom:0;
}

main p{
    margin-top: 0;
    margin-bottom:0;
    padding: 30px;
}

#programlist {
    list-style-type: none;
    padding-left:0;
}

#programlist li {
    padding:20px;
}

footer{
    color: white;
    background-color:black;
    text-align: center;  
    border-top-right-radius:10px;  
    border-top-left-radius:10px;  
    margin-top:300px;
    font-size:15px;
}

footer p{
    margin:0;
    padding: 30px;  
}

footer a{
    text-decoration: none;
    color:#4e8fc6;
}

.contact {
    padding-bottom:0;
}

.tablet {
    display: none;
}

.navtablet{
    display: none;
}

/* Media query for tablet screens and anything over 481px */
@media only screen and (min-width: 481px) {

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    header img{
        width: 300px;
        margin-top:20px;
        margin-bottom: 20px;
    }

    header {
        padding-bottom:20px;
    }
    
    .navtablet {
        display:inline;
        width: 490px;
    }

    .navtablet ul{
        width: 490px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navtablet ul li{
        display: inline;
        width:15%;
        font-size:15px;
        list-style-type: none;
        text-align:center;
        background-color: black;
        margin-top: 30px;
        margin-bottom:30px;
        margin-left:5px;
        margin-right:5px ;
        padding: 5px;
        border-radius: 50px;
        border: none;
    }

    nav ul li a{
        text-decoration: none;
        color:lightgray;
    }

    main table {
        min-width:400px;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    main table, main th, main td{
        border: 1px black solid;
    }

    main table caption {
        margin-bottom: 5px;
    }

    main iframe {
        min-width:500px;
        width: 50%;    
        margin:auto;
    }

    #programlist li {
        padding:20px 20px 5px 20px
    }

    #muay, #karate, #jiu{
        width:40%;
        border-radius:20px;
        margin: auto;
    }

    #submit {
        border: black 1px solid;
    }

    .tablet{
        display:block;
    }

    .navmobile{
        display: none;
    }
}

@media only screen and (min-width: 830px) {
    header {
        color: lightgrey;
        background-color: black;
        text-align: left;
        padding-bottom:0;
    }
    
    header img{
        width: 200px;
        margin-top:40px;
        margin-bottom: 40px;
        margin-left:40px;
    }

    .navtablet {
        display:inline;
        width: 490px;
        float:right;
        margin-right: 40px;
    }

    .navtablet ul{
        background-color: black;
        width: 490px;
        padding: 0;
        margin-left: 0;
        padding-top: 80px;
    }
    
    .navtablet ul li{
        display: inline;
        width:15%;
        font-size:15px;
        list-style-type: none;
        text-align:center;
        background-color: black;
        margin-top: 30px;
        margin-bottom:30px;
        margin-left:5px;
        margin-right:5px ;
        padding: 5px;
        border-radius: 50px;
        border: none;
    }

    nav ul li a{
        text-decoration: none;
        color:lightgray;
    }

    li a:link{
        color:white;
    }

    li a:visited{
        color:white;
    }

    li a:hover{
        color:#4e8fc6;
        font-weight: bold;
        border-bottom: #4e8fc6 solid 1px;
    }

    #submit {
        border-radius:10px;
    }

    textarea {
        border-radius:10px;
        border: black 0px solid;
    }

    .reviewname {
        padding: 0;
    }
}